<section class="customer-page-baner {{additionalClass}}">
  <div class="customer-page-baner__wrapper">
    <div class="container">
      <div class="customer-page-baner__links ">
        <a href="" class="customer-page-baner__link-page"> {{link-1}}</a>
        <img src="/src/img/icons/right-arrow-white.svg" alt="" />

        <a href="" class="customer-page-baner__link-page">
          {{link-2}}
        </a>
      </div>
    </div>

    <h1 class="customer-page-baner__title">{{title}}</h1>
    <p class="customer-page-baner__subtitle">{{subtitle}}</p>

  </div>

</section>